<div>
  <acme-navbar creation-date="main.creationDate"></acme-navbar>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12" nv-file-drop uploader="main.uploader">
      <div class="list">
        <input type="file" nv-file-select uploader="main.uploader" multiple/><br/>
        <ul class="files_list">
          <li ng-repeat="item in main.uploader.queue">
            <span class="file_name" ng-bind="item.file.name"></span>
            <button class="btn btn-danger btn-xs" ng-click="item.remove()">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-warning btn-xs" ng-click="item.cancel()">
              <span class="glyphicon glyphicon-remove-sign"></span>
            </button>
            <button class="btn btn-success btn-xs" ng-click="item.upload()">
              <span class="glyphicon glyphicon-upload"></span>
            </button>
            <span class="status_icon glyphicon glyphicon-{{main.getFileStatus(item)}}"></span>
          </li>
        </ul>
      </div>
      <div class="progress_block">
        Queue progress:
        <div class="progress" style="">
          <div class="progress-bar" role="progressbar" ng-style="{ 'width': main.uploader.progress + '%' }" style="width: 0%;"></div>
        </div>
      </div>
      <div class="button_block">
        <button class="btn btn-success btn-sm" ng-click="main.executeAction('uploadAll')">Upload all</button>
        <button class="btn btn-warning btn-sm" ng-click="main.executeAction('cancelAll')">Cancel all</button>
        <button class="btn btn-danger btn-sm" ng-click="main.executeAction('removeAll')">Remove all</button>
      </div>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12 query_block">
          <input class="form-control" type="text" placeholder="Enter keyword"/>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 select_tag">
        <div class="col-md-6 select_wrapper">
          <ui-select ng-model="main.selected.value" multiple placeholder="Tags">
            <ui-select-match>
              {{$item.name}}
            </ui-select-match>
            <ui-select-choices repeat="item in (main.itemArray | filter: $select.search) track by item.id" >
              <span ng-bind="item.name" ng-show="item.isVisible"></span>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="col-md-6 logic_operator">
          <input type="checkbox" id="isAnd"/>
          <label for="isAnd">Enable And Operator(default Or)</label>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <table class="table">
            <thead>
            <tr>
              <th class="name">Name</th>
              <th class="size">Size</th>
              <th class="actions">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in main.dataList" ng-click="item.type=='folder' ? main.openFolder() : ''">
              <td>{{item.name}}</td>
              <td>{{item.size}}</td>
              <td ng-if="item.type=='file'">
                <button class="btn btn-success btn-xs">Donwload</button>
                <button class="btn btn-danger btn-xs">Upload</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
